// section id products index
#products_index {

    .wrapper_image {
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

}