// section id products index
#products_index {

    td {
        a {
            display: inline-block;
        }
    }
    
    form {
        max-width: max-content;
        display: inline-block;
    }
}