// section id products index
#product_show {

    .card {
        background-color: $gray-1;
        
        .wrapper_image {
            width: 100%;
            height: 300px;
            margin: 0 auto;
    
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    
}