// section admin category edit
#category_edit {

    .card {
        background-color: $gray-1;
        background-color: $gray-1;
        border: none;
        border-radius: 5px;
        overflow: hidden;
    }
}